@import url("https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@300;400;700;900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-size: 62.5%;
  background-color: #f1f0f0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
:root {
  --primary-color: #3e3a65;
  --secondary-light: #20ac97;
  --background-one: #e4e4e4;
  --background-two: #d9d9d9;
  --txt-light: rgb(255, 255, 255);
  --txt-blur: #868686;
  --txt-grey: rgb(149, 180, 183);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  /* background-color: rgb(157, 157, 157); */
}

a {
  font-size: 2rem;
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

/* container width */
.container-width {
  max-width: 1024px;
  margin: 0 auto;
}

/* Buttom */
.btn {
  display: inline-block;
  padding: 2rem 3rem;
  font-size: 2.5rem;
  border: none;
  border-radius: 10px;
  color: var(--txt-light);
  cursor: pointer;
  text-align: center;
  background-color: var(--secondary-light);
}

.btn:hover {
  background-color: var(--primary-color);
  box-shadow: 2px 2px 2px #20ac97;
}

/* text */
.text-large {
  font-size: 5rem;
  font-weight: bolder;
}

.text-meduim {
  font-size: 4rem;
  font-weight: bold;
}

.text-simple {
  font-size: 3rem;
  font-weight: medium;
}

.text-small {
  font-size: 2rem;
  font-weight: medium;
}

/* gradiant style */
& .gradient-text-one {
  color: transparent;
  background: linear-gradient(149deg, #3e3a65 0%, #20ac97 100%);
  -webkit-background-clip: text;
}

/* header */
.header {
  padding: 3rem 1.5rem 7rem 1.5rem;
  background-color: var(--background-one);
  box-shadow: 0 0 8px #3e3a65;
  position: relative;

  & .navigation {
    background-color: var(--background-one);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-bottom: 10rem;
    position: sticky;
    top: 0; /* Ensure top is set to 0 for sticking to the top */

    & .title {
      font-size: 3rem;
      font-weight: 400;
      color: var(--primary-color);
    }

    & .icon-small {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4rem;
      padding: 2rem;
      cursor: pointer;
      display: none;
    }

    & .nav-links {
      display: flex;
      gap: 2rem;
      & a {
        color: var(--primary-color);
      }
      & a:hover {
        color: var(--secondary-light);
      }
    }

    & .search {
      position: relative;
      & input {
        width: 200px;
        padding: 1rem 0 1rem 2.5rem;
        margin-left: 2rem;
        color: var(--txt-blur);
        font-size: 1.8rem;
        border: none;
        border-radius: 10px;
      }

      & input:focus {
        box-shadow: 0 0 5px #3e3a65;
      }

      &::after {
        content: "\1F50D";
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        font-size: 2rem;
        color: #20ac97;
        padding: 1rem;
      }
    }

    & .user {
      font-size: 3.5rem;
      color: #3e3a65;
    }

    & .user:hover {
      color: #20ac97;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .nav-links {
        display: none;
      }
    }

    @media screen and (max-width: 767px) {
      .nav-links {
        display: none;
      }

      .user {
        display: none;
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 992px) {
    .navigation {
      .icon-small {
        order: 4;
      }
      & .icon-small {
        display: inherit;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .navigation {
      .icon-small {
        order: 3;
      }
      & .icon-small {
        display: inherit;
      }
    }
  }

  & .grid-1x2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    & .hero-detail {
      & h1 {
        color: var(--primary-color);
        line-height: 1;
      }

      & p {
        color: var(--txt-blur);
        margin: 3rem 0;
      }

      & .button-container {
        & .btn-outline {
          margin-left: 1rem;
        }
      }
    }

    & .hero-image {
      max-width: 700px;
      & img {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 992px) {
    .grid-1x2 {
      grid-template-columns: 1fr;
    }
  }
}

/* main part */
main {
  margin-top: 10rem;
  & .first-card {
    text-align: center;
    & p {
      color: var(--txt-blur);
    }
    & h2 {
      color: var(--primary-color);
    }

    & .service-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      margin: 2rem 5rem;
      flex-wrap: wrap;

      & .service-card {
        display: flex;
        max-width: 400px;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
        border-radius: 10px;

        & h3 {
          color: var(--primary-color);
        }

        & p {
          color: var(--txt-blur);
          text-align: start;
        }

        & .image-container {
          width: 100%;
          height: 320px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          padding: 2rem;

          & .image {
            width: 100%;
            height: 100%;
          }
        }

        .bg-container-primary {
          background: linear-gradient(149deg, #3e3a65 0%, #20ac97 100%);
        }

        & .start-here {
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bolder;
          gap: 1rem;
          padding: 2rem;
          color: var(--txt-blur);
          & i {
            transition: all 0.2s;
          }
        }

        & .start-here:hover {
          background-color: var(--background-one);
          border-radius: 10px;
          color: var(--secondary-light);
          gap: 2rem;
          transition: all 0.5s ease-in-out;
        }
      }

      & .service-card:hover {
        background-color: var(--background-one);
        transition: all 0.4s ease-in-out;
        box-shadow: 0 0 8px #3e3a65;
      }
    }
  }

  & .career {
    margin-top: 10rem;
    padding: 5rem 2rem;
    gap: 2rem;

    & .grid-1x2 {
      display: grid;
      place-content: center;
      grid-template-columns: repeat(2, 1fr);
      gap: 5rem;

      & .career-image {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 500px;

        & img {
          width: 100%;
        }
      }

      & .career-detail {
        & h2 {
          color: var(--primary-color);
        }

        & p {
          color: var(--txt-blur);
        }
        & .career-card {
          display: flex;
          flex-direction: column;
          max-width: 600px;
          border-radius: 10px;
          padding: 2rem;
          gap: 2rem;
          & .multiple-text {
            background-color: var(--txt-light);
            border-radius: 10px;
            padding: 2rem;
            display: flex;
            gap: 3rem;
            flex-direction: row;
          }

          & .multiple-text:hover {
            color: var(--secondary-light);
            background-color: var(--background-one);
            transition: all 0.4s ease-in-out;
            box-shadow: 0 0 8px #3e3a65;
          }
          & i {
            font-size: 2rem;
            padding: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
    @media screen and (max-width: 992px) {
      .grid-1x2 {
        grid-template-columns: 1fr;
      }
    }
  }

  & .rating-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    & .rating {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 4rem;

      & h2 {
        color: var(--secondary-light);
      }

      & p {
        color: var(--txt-blur);
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 992px) {
    .rating-container {
      gap: 0;
      &.rating {
        margin: 1rem;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .rating-container {
      flex-direction: column;
      gap: 0;
    }
  }

  & .contact {
    margin-top: 10rem;
    padding: 2rem 0;
    background-color: var(--background-one);
    box-shadow: 0 0 8px #3e3a65;

    & .grid-1x2 {
      display: grid;
      place-content: center;
      grid-template-columns: repeat(2, 1fr);
      gap: 5rem;

      & .contact-image {
        max-width: 400px;
        height: 300px;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        top: 100px;
        margin-left: 2rem;
        box-shadow: 0 0 8px #3e3a65;

        & img {
          width: 100%;
        }
      }

      & .contact-info {
        & button {
          margin: 3rem 0;
        }
      }
    }
    @media screen and (max-width: 768px) {
      .grid-1x2 {
        grid-template-columns: 1fr;
        place-content: center;
        margin: 3rem;
        .contact-image {
          /* position: static; */
          top: 0;
        }
      }
    }
  }

  & .main-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15rem;

    & h2 {
      color: var(--primary-color);
      text-align: center;
    }

    & .grid-1x2 {
      display: grid;
      place-content: center;
      grid-template-rows: repeat(2, 1fr);
      gap: 3rem;
      margin: 3rem;
      & .course-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;

        & .course-card {
          display: flex;
          max-width: 400px;
          flex-direction: column;
          gap: 2rem;
          padding: 2rem;
          padding-bottom: 3rem;
          border-radius: 10px;
          background-color: var(--txt-light);
          position: relative;
          border-radius: 10px;
          & h3 {
            color: var(--primary-color);
            text-align: center;
          }

          & .image-container {
            width: 100%;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            padding: 3rem;
            bottom: 0;

            & .image {
              border-radius: 10px;
              width: 100%;
              height: 100%;
            }
          }

          & .start-here:first-child {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 50px;
            font-weight: bolder;
            gap: 1rem;
            color: #8d89a3;
            & i {
              transition: all 0.2s;
            }
          }
          & .start-here:last-child {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 30px;
            font-weight: bolder;
            gap: 1rem;
            color: #8d89a3;
            & i {
              transition: all 0.2s;
            }
          }

          & .btn {
            width: 100px;
            padding: 1.3rem;
            font-size: 1.5rem;
            font-weight: bolder;
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 0 10px 0;
          }
        }

        & .course-card:hover {
          background-color: var(--background-one);
          transition: all 0.4s ease-in-out;
          box-shadow: 0 0 8px #3e3a65;
        }
      }
      @media screen and (min-width: 768px) and (max-width: 1200px) {
        & .course-container {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }
      }

      @media screen and (max-width: 768px) {
        & .course-container {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  & .faq-section {
    padding: 5rem 0;
    margin: 10rem 0;
    & .faq-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      & .faq-image {
        width: 350px;
        & img {
          width: 100%;
        }
      }
    }

    & .faq > li {
      background-color: var(--txt-light);
      padding: 2rem 2rem 2rem 3rem;
      margin: 2rem 0;
      border-radius: 10px;
    }

    & .faq > li:hover {
      background-color: var(--background-one);
      transition: all 0.4s ease-in-out;
      box-shadow: 0 0 8px #3e3a65;
    }

    @media screen and (max-width: 768px) {
      .faq-container {
        grid-template-columns: 1fr;
        padding: 0 2rem;
        gap: 5rem;
      }
    }
  }

  & .event {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
    & p {
      color: var(--txt-blur);
    }

    & h2 {
      color: var(--primary-color);
    }

    & .grid-1x2 {
      display: grid;
      place-content: center;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      margin: 3rem;

      & .event-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        & .event-card {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 8rem;
          padding: 2rem;
          border-radius: 10px;
          background-color: var(--txt-light);

          & .text,
          .date {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
          }

          & .date {
            align-items: center;

            & .btn {
              width: 130px;
              padding: 1.3rem;
              font-size: 1.5rem;
              font-weight: bolder;
              border-radius: 10px;
            }
          }
        }

        & .event-card:hover {
          background-color: var(--background-one);
          transition: all 0.4s ease-in-out;
          box-shadow: 0 0 8px #3e3a65;
        }
      }
    }

    @media screen and (max-width: 992px) {
      & .grid-1x2 {
        grid-template-columns: 1fr;
      }
    }
  }
}

footer {
  & .foot {
    background-color: var(--background-one);
    padding: 10rem;
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 15rem;
    box-shadow: 0 0 8px #3e3a65;

    & h3 {
      color: var(--primary-color);
    }

    & .sa-list > li {
      padding: 1rem 0;
      font-size: 2rem;
      color: var(--txt-blur);
    }
    & .sa-list > li:hover {
      color: var(--primary-color);
    }
  }
  @media screen and (max-width: 768px) {
    .foot {
      flex-direction: column;
      gap: 3rem;
    }
  }
}
